#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* custom CSS styles for Lapping */
.timer_element {
  background-color: #b21a1b;
  width: 15em;
}

.lap_timings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw 1vh;
}

.lap_timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw
}

.lap_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 31em;
  padding-bottom: .5em;
}

#lapno {
  color: black;
}

.measurement_nobg {
  color: black;
  font-weight: bold;
}

.lap_graph_container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center children vertically */
  justify-content: space-between; /* Add space between left and right sections */
  width: 100%; /* Ensure it spans the full width */
}

.graph {
  width: 50vw;
}

.car_data {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  width: 40vw;
  padding-left: 5vw;
  padding-right: 5vw;
  font-weight: bold;
}

.optimal_speed {
  color: green; /* Color for the first item */
  font-weight: bold;
}

.rest {
  color: black; /* Color for the first item */
  font-weight: bold;
  display: flex; /* Lay out the rest horizontally */
  gap: 1vw; /* Add space between items */
}

.speed-widget {
  font-family: Arial, sans-serif;
}

.speed-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efe9e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.speed-value {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.speed-label {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;
}

.lap_data {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items within the lap data section */
  align-items: center;
}

.graph_data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
