#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* custom CSS styles for Lapping */
.timer_element {
  background-color: #b21a1b;
  width: 15em;
}

.lap_timings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em 1em;
  width: 32em;
}

#lapno {
  color: black;
}

.measurement_nobg {
  color: black;
  font-weight: bold;
}

.lap_graph_container {
  display: flex;
  flex-direction: row;
}

.graph {
  width: 50vw;
}

.car_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}